/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 16px;
  line-height: 1.375; }
  @media screen and (min-width: 769px) {
    html {
      line-height: 1.5; } }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

svg,
img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
  /* fix chrome's image sharpness per: https://medium.freecodecamp.org/-898b38a6c0e1 */ }

#pageWrap {
  margin: 0 auto;
  max-width: 125rem;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden; }
  @media screen and (min-width: 769px) {
    #pageWrap {
      display: flex;
      align-items: stretch;
      flex-direction: row;
      height: 100vh;
      overflow: hidden; } }

@media screen and (min-width: 769px) {
  .flexSection {
    flex: 1 50%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", Arial, sans-serif; }

h1,
h2,
h3 {
  margin: 0 0 0.75rem 0; }

h4,
h5,
h6 {
  margin-bottom: 0.25rem; }

h1 {
  font-size: 1.25rem; }
  @media screen and (min-width: 400px) {
    h1 {
      font-size: 1.5rem; } }
  @media screen and (min-width: 769px) {
    h1 {
      font-size: 1.75rem; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 2rem; } }

h2 {
  font-size: 1.125rem; }
  @media screen and (min-width: 400px) {
    h2 {
      font-size: 1.25rem; } }
  @media screen and (min-width: 769px) {
    h2 {
      font-size: 1.5rem; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 1.75rem; } }

h3 {
  font-size: 1.0625rem; }
  @media screen and (min-width: 400px) {
    h3 {
      font-size: 1.125rem; } }
  @media screen and (min-width: 769px) {
    h3 {
      font-size: 1.25rem; } }
  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 1.5rem; } }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 0.0625rem; }

ol,
ul,
p {
  font-family: "Average", Garamond, serif; }

ol,
ul {
  margin: 0 1rem;
  font-size: 0.75rem; }
  @media screen and (min-width: 1024px) {
    ol,
    ul {
      font-size: 1rem; } }

a {
  text-decoration: none;
  color: #00a4b3; }

#leftHeroSection {
  background: #00a4b3 url("../img/herobg.jpg") repeat-x;
  /* fallback */
  background-image: url("../img/asanoha-pattern-opt.svg"), linear-gradient(#ffffe2, #00a4b3);
  /* for general */
  background-attachment: fixed; }

.heroContainer {
  /* left section div only */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end; }
  @media screen and (min-width: 769px) {
    .heroContainer {
      height: 100vh;
      justify-content: center; } }

.picContent {
  margin: 0 auto 2.5%;
  width: 75%;
  height: 60vh;
  overflow: visible;
  position: relative; }

.picContent img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-height: 85%;
  opacity: 0.8; }

.leftTextContent {
  margin-bottom: 10%;
  padding: 1.5rem;
  flex-grow: 1 auto;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #ffffff; }
  @media screen and (min-width: 769px) {
    .leftTextContent {
      margin-bottom: 5%;
      padding: 1.5rem 3rem; } }

@media screen and (min-width: 769px) {
  #rightInfoSection {
    height: 100vh; } }

.infoContainer {
  min-height: 100vh; }
  @media screen and (min-width: 769px) {
    .infoContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      height: 100vh;
      border-left: 0.25rem solid #ffffe2; } }

.rightInfo {
  /* each article */
  padding: 1rem; }
  @media screen and (min-width: 769px) {
    .rightInfo {
      padding: 1rem 2rem;
      align-self: stretch; } }

.rightTextContent p {
  margin-bottom: 1rem; }

.articleImg {
  margin-bottom: 1rem; }

.hideSection {
  display: block; }
  @media screen and (min-width: 769px) {
    .hideSection {
      display: none; } }

.codeSample {
  width: 100%;
  max-height: 22rem;
  overflow: auto;
  background-color: #2D313A;
  color: #ffffff; }

pre {
  padding: 0.75rem;
  display: block;
  white-space: pre;
  text-align: left; }

@media screen and (min-width: 769px) {
  .flexible {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; } }

.flexItem33 {
  padding-bottom: 1rem; }
  @media screen and (min-width: 769px) {
    .flexItem33 {
      flex: 1 33.3333333333333%; } }

.flexItem50 {
  padding-bottom: 1rem; }
  @media screen and (min-width: 769px) {
    .flexItem50 {
      flex: 1 50%; } }

@media screen and (min-width: 769px) {
  .flexItem100 {
    flex: 1 100%; } }

footer {
  padding: 1rem;
  background-color: #ffffff;
  color: #111111;
  text-align: center; }
  @media screen and (min-width: 769px) {
    footer {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); } }

footer.homeFoot {
  background-color: transparent;
  color: #ffffff; }
  @media screen and (min-width: 769px) {
    footer.homeFoot {
      color: #111111; } }

.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.socialLinks a i {
  padding: 1rem;
  flex: 1; }

#iconNav,
#buttonTopMobile,
#buttonTopBg,
#buttonTop {
  padding: 0.75rem 1rem;
  border: 0.125rem solid #ffffff;
  border-radius: 0.25em;
  background-color: rgba(0, 0, 0, 0.8); }
  @media screen and (min-width: 769px) {
    #iconNav,
    #buttonTopMobile,
    #buttonTopBg,
    #buttonTop {
      background-color: transparent;
      border: none; } }

#iconNav {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 500; }
  @media screen and (min-width: 769px) {
    #iconNav {
      top: 0.75rem;
      right: 0.75rem; } }

#iconNav,
#buttonMainNavClose,
#buttonTopMobile,
#buttonTopBg,
#buttonTop {
  color: #00a4b3;
  cursor: pointer; }

#buttonTopMobile {
  display: inline; }
  @media screen and (min-width: 769px) {
    #buttonTopMobile {
      display: none; } }

#buttonTopBg,
#buttonTop {
  display: none; }
  @media screen and (min-width: 769px) {
    #buttonTopBg,
    #buttonTop {
      display: inline; } }

#navList {
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  list-style: none; }
  @media screen and (min-width: 769px) {
    #navList {
      width: 40%; } }

#buttonMainNavClose,
#navList li a {
  display: block;
  padding: 1rem 3rem;
  align-self: stretch;
  justify-content: space-around;
  border-bottom: 1px solid #2D313A;
  color: #03e6fb;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: .2rem; }

#navList li a.currentPage {
  color: #007C88; }

#buttonMainNavClose,
#navList li:last-child a {
  border-bottom: none; }

#buttonMainNavClose {
  text-align: right; }

#buttonMainNavClose:hover,
#buttonMainNavClose:active,
#navList a:hover,
#navList a:active {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: glow 0.35s ease-in;
  -moz-animation: glow 0.35s ease-in;
  animation: glow 0.35s ease-in; }

@-webkit-keyframes glow {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.8); } }
@-moz-keyframes glow {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.8); } }
@-keyframes glow {
  from {
    background-color: transparent; }

  to {
    background-color: rgba(0, 0, 0, 0.8); } }
#pageWrapHome {
  margin: 0 auto;
  max-width: 125rem;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  @media screen and (min-width: 769px) {
    #pageWrapHome {
      display: flex;
      align-items: stretch;
      flex-direction: row; } }

#logowing {
  /* logo controls (double wings) */
  margin: 0 auto 2.5%;
  display: block;
  max-width: 60%;
  opacity: 0.8; }
  @media screen and (min-width: 400px) {
    #logowing {
      max-width: 75%; } }
  @media screen and (min-width: 769px) {
    #logowing {
      margin: 12.5% auto 5%; } }
  @media screen and (min-width: 1024px) {
    #logowing {
      max-height: 45vh; } }

.introContent {
  margin-bottom: 10%;
  padding: 1.5rem;
  flex-grow: 1 auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff; }
  @media screen and (min-width: 769px) {
    .introContent {
      margin-bottom: 5%;
      padding: 1.5rem 3rem; } }

.buttonControl {
  /* animation controls same as rightNav */
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border: 0.125rem solid #ffffff;
  border-radius: 0.25em;
  background-color: transparent;
  color: #ffffff;
  font-size: 0.9375rem;
  letter-spacing: 0.125rem;
  text-transform: lowercase; }

#buttonAbout {
  margin-right: 2.25rem; }

#buttonNavOpen,
#buttonNavClose {
  /* hide buttons when screen size allows rightNav to show */ }
  @media screen and (min-width: 769px) {
    #buttonNavOpen,
    #buttonNavClose {
      display: none; } }

#rightNav {
  padding: 0 1rem;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85); }
  @media screen and (min-width: 769px) {
    #rightNav {
      position: static;
      background-color: transparent;
      border-left: 0.25rem solid #ffffe2; } }

.navContainer {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center; }

.rightNavProject {
  /* each article */
  padding: 0.5rem 3rem;
  align-self: stretch;
  display: flex;
  justify-content: space-around; }

.navContainer a.rightNavLink {
  border-bottom: 1px solid #2D313A; }

.navContainer a.rightNavLink:last-of-type {
  border-bottom: none; }

.rightNavSVG,
.rightNavProject svg {
  flex: 1;
  max-width: 1rem;
  object-fit: contain;
  align-self: baseline;
  fill: #00a4b3; }
  @media screen and (min-width: 769px) {
    .rightNavSVG,
    .rightNavProject svg {
      max-width: 3rem; } }

.rightNavText {
  flex: 2;
  margin-left: 1rem;
  align-self: baseline; }

#buttonNavClose {
  padding: 1rem 10% 1rem;
  border: none;
  text-align: right;
  color: #00a4b3;
  cursor: pointer; }

a.rightNavLink {
  color: #00a4b3; }

.buttonControl:hover,
.buttonControl:active,
.navContainer a.rightNavLink:hover,
.navContainer a.rightNavLink:active {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: glow 0.35s ease-in;
  -moz-animation: glow 0.35s ease-in;
  animation: glow 0.35s ease-in; }

@-webkit-keyframes glow {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.8); } }
@-moz-keyframes glow {
  from {
    background-color: transparent; }
  to {
    background-color: rgba(0, 0, 0, 0.8); } }
@-keyframes glow {
  from {
    background-color: transparent; }

  to {
    background-color: rgba(0, 0, 0, 0.8); } }
#picProfile {
  border: 0.125rem solid #00a4b3;
  border-radius: 0.25rem; }

#skillsDesign,
#skillsWeb,
#skillsOffice {
  /* the parent article */
  background-color: #2D313A;
  color: #ffffff; }
  @media screen and (min-width: 769px) {
    #skillsDesign,
    #skillsWeb,
    #skillsOffice {
      display: none;
      padding-top: 2rem;
      padding-bottom: 2rem; } }

.skillBox {
  /* the div inside the article */
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.skillChart h3 {
  flex: 1 100%; }

.skillBox p {
  margin-bottom: 0.25rem;
  flex: 1 50%;
  letter-spacing: 0.125em; }

.skillBox p:first-child {
  font-weight: bold; }

.skillBox p:nth-child(2) {
  text-align: right; }

.skillBar {
  flex-grow: 2 100%;
  padding: 0.25rem;
  width: 100%;
  background-color: #111111;
  border: 1px solid #00a4b3;
  border-radius: 0.125rem; }

.skillLevel {
  height: .5rem;
  background-color: #00a4b3; }

.percent80 {
  width: 80%; }

.percent60 {
  width: 60%; }

.percent40 {
  width: 40%; }

.percent20 {
  width: 20%; }

.buttonHidden {
  display: none; }
  @media screen and (min-width: 769px) {
    .buttonHidden {
      display: inline-block;
      margin-right: 2.25rem; } }

.buttonTeal {
  border-color: #00a4b3;
  color: #00a4b3; }

/*# sourceMappingURL=css.css.map */
